<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular Material</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon"><a href="https://material.angular.io/components/toolbar/examples" target="_blank">tab</a></mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
